language: php

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
    include:
        - php: 7.3
          env: 
            - BEHAT_OPTS="--mode=standard --profile=core --suite=web --tags=~@broken -c=behat_ibexa_oss.yaml"
            - APP_ENV=behat 
            - APP_DEBUG=1
            - COMPOSE_FILE="doc/docker/base-dev.yml:doc/docker/selenium.yml"
            - PROJECT_EDITION=oss
            - PROJECT_VERSION=^4.0.x-dev

# test only master and stable branches (+ Pull requests)
branches:
    only:
        - master
        - /^\d+\.\d+$/

install:
    # Disable XDebug for performance
    - phpenv config-rm xdebug.ini
    # Avoid memory issues on composer install
    - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - travis_retry composer install
    # Prepare Behat environment if needed
    - ./vendor/bin/prepare_project_edition.sh ${PROJECT_EDITION} ${PROJECT_VERSION} ${COMPOSE_FILE}

script:
    - cd "$HOME/build/project"; docker-compose exec --user www-data app sh -c "vendor/bin/ezbehat $BEHAT_OPTS"

# reduce depth (history) of git checkout
git:
  depth: 30
