<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  colors="true"
  >
  <php>
    <ini name="error_reporting" value="-1" />
  </php>
  <testsuites>
    <testsuite name="bundle">
      <directory>tests/bundle</directory>
    </testsuite>
  </testsuites>
</phpunit>
